*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 40%;
    margin: 0 auto;
    display: block;
    padding-top: 250px;
    padding-right: 90px;
}
div{
    background-color: white;
    width: 30%;
    height: 50vh;
    position: absolute;
    left: 999px;
    top: 440px;
}
h4{
    font-size: 50px;
    text-align: center;

}
p{
    font-size: 25px;
}
body{
    background-color: red;
}